.o-footer {
	background-color: getColor('cold-2');
}

.o-footer__search {
	color: getColor('white');
}
.o-footer__search-label,
.o-footer__search-term,
.o-footer__search-submit {
	color: inherit;
}
.o-footer__search-term,
.o-footer__search-submit {
	background-color: transparent;
}
.o-footer__search-submit {
	padding: 0;
	border: 0;
}

.o-footer__items {
	list-style: none;
}
.o-footer__item--top-level {
	font-weight: bold;
	padding-bottom: 10px;

	.o-footer__items--top-level & {
		padding-bottom: 0;
	}
}
.o-footer__link {
	font-size: 14px;
	line-height: 1.5;
	color: getColor('white');
	border-bottom: 0;

	&:hover {
		text-decoration: underline;
		color: getColor('white');
	}
}
